* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("../bg/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #dbdbdb;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}



/* Scroll estilizado */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
      background: linear-gradient(0deg, #000000 0%, #161616 100%);
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 144, 226, 0.6); /* azul suave */
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(74, 144, 226, 0.9);
    background-clip: content-box;
}


::selection {
  background-color: #3b7fcc;
  color: white;
  border-radius: 8px;
}

@media (max-width: 768px)  {
  
  body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
      background: linear-gradient(180deg, #020202 0%, #020202 50%, #020202 100%);
      background-color: var(--bg-primary);
      min-height: 120vh;
      min-width: 100vw;
      height: 200px;
      overflow-y: hidden;
      overflow-x: hidden;
      position: fixed !important;
      color: #f8f9f9;
      user-select: none !important;
        -webkit-touch-callout: none; /* Disables the callout menu on long press in iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  }
}







