@media (max-width: 768px) {
    .config-box-layout {
        margin: 0 !important;
        padding: 0px !important;
        width: 100vw !important;
        overflow-y: auto !important; /* Permite rolagem vertical se necessário */
        backdrop-filter: blur(0px);
        box-shadow: none;
        overflow: hidden !important;
        overflow-y: auto !important;
        padding-bottom: 22vh !important;
    }

    body {
        background-color: var(--bg-primary);
        background-image: none;
        margin-top: env(safe-area-inset-top, 0px);
        overflow: auto;
    }

    .form-container {
        margin: 0px !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none;
    }

    nav {
        display: none;
    }

    .header {
        display: flex;
        padding: 0px 0px 18px 0px;

    }
    
    .header h2 {
        padding-top: 14px;
        padding-left: 10px;
    }

    .header svg {
        height: 24px;
        width: 24px;
        fill: white;
    }

    .header button {
        border: none;
        background-color: transparent;
        padding: 8px;
        display: block !important;
    }

    .tab-button {
        width: 100%;
        margin: 0px;
    }

    input {
        background-color: #333 !important;
        border: none !important;
        box-shadow: none !important;
    }

    textarea {
        background-color: #333 !important;
        border: none !important;
        box-shadow: none !important;
        height: 16vh;
    }

    .tab-button.conta {
        display: none;
    }

    .config-tabs {
        display: flex;
        justify-content: space-between;
    }

}